<a href="https://colab.research.google.com/github/Ishansingh438/AlmaX-Practice-Set/blob/main/Company_Interview_Coding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Write a list comprehension for producing a list of numbers between 1 and 1000 that are divisible by 3.

In [ ]:
number = [1,1000]

def check_divisibility(number):
  list1 = []
  for i in range(1,1000):
    if i%3==0:
      list1.append(i)
  return list1
print(check_divisibility(number))

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 102, 105, 108, 111, 114, 117, 120, 123, 126, 129, 132, 135, 138, 141, 144, 147, 150, 153, 156, 159, 162, 165, 168, 171, 174, 177, 180, 183, 186, 189, 192, 195, 198, 201, 204, 207, 210, 213, 216, 219, 222, 225, 228, 231, 234, 237, 240, 243, 246, 249, 252, 255, 258, 261, 264, 267, 270, 273, 276, 279, 282, 285, 288, 291, 294, 297, 300, 303, 306, 309, 312, 315, 318, 321, 324, 327, 330, 333, 336, 339, 342, 345, 348, 351, 354, 357, 360, 363, 366, 369, 372, 375, 378, 381, 384, 387, 390, 393, 396, 399, 402, 405, 408, 411, 414, 417, 420, 423, 426, 429, 432, 435, 438, 441, 444, 447, 450, 453, 456, 459, 462, 465, 468, 471, 474, 477, 480, 483, 486, 489, 492, 495, 498, 501, 504, 507, 510, 513, 516, 519, 522, 525, 528, 531, 534, 537, 540, 543, 546, 549, 552, 555, 558, 561, 564, 567, 570, 573, 576, 579, 582, 585, 588, 591, 594, 597, 600, 603, 606, 609, 612, 615, 618, 621, 624, 627, 630, 633, 636, 639, 642, 645, 648, 651, 654, 657, 660, 663, 666, 669, 672, 675, 678, 681, 684, 687, 690, 693, 696, 699, 702, 705, 708, 711, 714, 717, 720, 723, 726, 729, 732, 735, 738, 741, 744, 747, 750, 753, 756, 759, 762, 765, 768, 771, 774, 777, 780, 783, 786, 789, 792, 795, 798, 801, 804, 807, 810, 813, 816, 819, 822, 825, 828, 831, 834, 837, 840, 843, 846, 849, 852, 855, 858, 861, 864, 867, 870, 873, 876, 879, 882, 885, 888, 891, 894, 897, 900, 903, 906, 909, 912, 915, 918, 921, 924, 927, 930, 933, 936, 939, 942, 945, 948, 951, 954, 957, 960, 963, 966, 969, 972, 975, 978, 981, 984, 987, 990, 993, 996, 999]

In [ ]:
Number = int(input())
def fibonacciSeries(Number):

    if Number == 0:
        return 0
    elif Number == 1:
        return 1
    else:
        return fibonacciSeries(Number - 1) + fibonacciSeries(Number - 2)

for i in range(Number):
  print(fibonacciSeries(i))

8
0
1
1
2
3
5
8
13

In [ ]:
#python program to check prime number

number = int(input())

for i in range(2,number):
  if (number%i) == 0:
    print(number,'Is Not prime number')
    break
else:
  print(number,'Is prime number')

11
11 Is prime number

In [ ]:
#python program to reverse integer
number = 132
reversed_int = str(number)[::-1]
print('Reversed integer is',reversed_int)

Reversed integer is 231

In [ ]:
#python program to check armstrong number

number = int(input())

order = len(str(number))
sum_of_powers = sum(int(digit) ** order for digit in str(number))

if sum_of_powers == number:
    print(number, 'is an Armstrong number.')
else:
    print(number, 'is not an Armstrong number.')

1
1 is an Armstrong number.

In [ ]:
number = int(input())

def binary_number(number):
    for digit in str(number):
        if digit not in ('0', '1'):
            return False
    else:
        return True

print(binary_number(number))

12
False

In [ ]:
string = input("")
string1 = input("")

for char in string:
  if char in string == char in string1 and len(string) == len(string1):
    print("String is Aanagram")
else:
  print("String is not Anagram")

In [ ]:
import array
from ctypes import Array
arr = [1,0,1,1,1,0,0]
size = len(arr)
for i in range(size-2):
  if arr[i] == arr[i+1] and arr[i+1]==arr[i+2]:
    print(arr[i])

1

In [ ]:
strng = input()
dict1 = {}

for char in strng:
  if char in dict1:
    dict1[char] += 1
  else:
    dict1[char] = 1

print((dict1))

google.com
{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

In [ ]:
div = int(input())
num = input()

def outer_layer(num):
    def inner_layer(div):
        return num % div == 0
    return inner_layer
check_divisibility = outer_layer(14)
print(check_divisibility(2))

9
8
True

In a competition, participants were given a number to sum its digits until it was a single-digit number. So, write a Python program to add the digits of a positive integer repeatedly until the result has a single digit.

Input:
7548

Output:
Step-1 Sum: 24

Step-2 Sum: 6

In [ ]:
num = int(input())

step = 0
while num>=10:
  step += 1
  sum = 0
  while num>0:
    sum += num%10
    num//=10
  num = sum
  print(f'Step-{step} Sum: {num}')

987997977978979879879877979799797978797897
Step-1 Sum: 335
Step-2 Sum: 11
Step-3 Sum: 2

In [ ]:
nums = [1,0,1,1,1,1,0,0,0,0,1,1,1,1,1,1,1,1,1]
def max_consecutive_ones(nums):
    max_count = 0
    current_count = 0

    for num in nums:
        if num == 1:
            current_count += 1
            max_count = max(max_count, current_count)
        else:
            current_count = 0

    return max_count

print(max_consecutive_ones(nums))

9

Write a Python program that accept a list of integers
and check the length of the 5th element. Return
true if the length of the list is 8 and fifth element occurs thrice,

[19, 15, 5, 7, 5, 5, 2]

Output:

False

input:

[11, 12, 14, 13, 14, 13, 15, 14]

Output:

True

In [ ]:
lst = [11, 12, 14, 13, 14, 13, 15, 14]

def length_check_occurs_time(lst):
  for num in lst:
    if lst.count(lst[4]) == 3 and len(lst) == 8:
      return True
    else:
      return False
print(length_check_occurs_time(lst))

True

Write a Python program that accept an integer test
whether an integer greater than 4^4 and which is 4 mod34 (4|34|)

Input:

922

Output:
True

Input:

914

Output:
False

In [ ]:
num = int(input())

def check_integer(num):
  if num> 4*4 and num%34 == 4:
    return True
  else:
    return False
print(check_integer(num))

922
True

Write a Python program find a list of integers with
exactly two occurrences of nineteen and at least
three occurrences of five,

Input:
[19, 19, 15, 5, 3, 5, 5, 2]

Output
True

Input:
[19, 15, 15, 5, 3, 3, 5, 21]

Output:
False

In [ ]:
lst = [19, 19, 15, 5, 3, 5, 5, 2]

def occurence_check(lst):
  for num in lst:
    if lst.count(19) == 2 and lst.count(5) >=3:
      return True
  else:
    return False
print(occurence_check(lst))

True

In [ ]:
my_list = list(map(int, input('').split()))

def count_me(my_list):
  if my_list.count(19) == 2 and my_list.count(5) >= 3:
    return True
  else:
    return False
print(count_me(my_list))

19 19 15 5 3 5 5 2
True

Write a Python program to check a given list of
integers where the sum of the first i integers is i.

Input:
[10, 1, 2, 3, 4, 5]

Output:
False

input:
[1, 1, 1, 1, 1, 1]

Output: True

In [ ]:
lst = list(map(int, input('').split()))

def sum_check(lst):
  for i in lst:
    if sum(lst[:i]) == i:
      return True
  else:
    return False
print(sum_check(lst))

10 1 2 3 4 5
False

Given a string, the task is to count all palindrome sub string in a given string. Length of palindrome sub string is greater than or equal to 2

Input :

str = "abaab"

Output: 3

Input :

str = "abbaeae"

Output: 4

In [ ]:
string = input()

def palimdrome(string):
  count = 0
  n = len(string)
  for i in range(n):
    for j in range(i+2,n+1):
      if string[i:j]==string[i:j][::-1]:
        count += 1
  return count
print(palimdrome(string))

abaab
3

Write a python program to find the longest palindromic substring in a given string.

Input : babad

Output : bab

In [80]:
string = input()

def palimdrome(string):
  substring =[]
  leng = len(string)
  for i in range(leng):
    for j in range(i+2,leng+1):
      if string[i:j] == string[i:j][::-1]:
        substring.append(string[i:j])
  return max(substring, key =len)
print(palimdrome(string))

bab
bab

We are making n stone piles! The first pile has
n stones. If n is even, then all piles have an even
number of stones. If n is odd, all piles have an odd
number of stones. Each pile must more stones than
the previous pile but as few as possible. Write a
Python program to find the number of stones in each
pile.

Input: 2

Output:
[2, 4]

Input: 10

Output:
[10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

Input: 3

Output:
[3, 5, 7]

In [78]:
num = int(input())
def stone_piles(num):
  piles =[]
  for i in range(num):
    stone = num+2*i
    piles.append(stone)
  return piles
print(stone_piles(num))

7
[7, 9, 11, 13, 15, 17, 19]

Write a Python program to check the nth-1 string
is a proper substring of nth string in a given list of
strings.

Input:
[a', 'abb', sts' 'oo, de', 'side]

Output: True

Input
[a', 'abb', 'sfs', 'oo, ee', 'sfde]

Output:
False

In [76]:
string1 = ['a', 'bb', 'sts', 'oo', 'de', 'side']
i = int(input())

def check_substring(string1):
  for i in range(1,len(string1)):
    if string1[i - 1] in string1[i] and string1[i-1] != string1[i]:
      return True
    else:
      return False
print(check_substring(string1))

2
False

Write a Python program to check whether the given
strings are palindromes or not. Return True, False.

Input:
['palindrome', 'madamimadam, " Too, 'eyes]

Output:

False. True. True. False

In [28]:
string1 = ['palindrome', 'madam','TooT', 'eye']

def palindrome(string1):
  result = []
  for string2 in string1:
    if string2 == string2[::-1]:
      result.append(True)
    else:
      result.append(False)
  return result
print(palindrome(string1))

[False, True, True, True]