<a href="https://colab.research.google.com/github/Ishansingh438/AlmaX-Practice-Set/blob/main/Star_Number_%26_Hallow_Pattern_programme.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Star Pattern

In [ ]:
#square
n=5
for i in range(n):
    for j in range(n):
      print('*',end='  ')
    print()

*  *  *  *  *
*  *  *  *  *
*  *  *  *  *
*  *  *  *  *
*  *  *  *  *

In [ ]:
def print_left_alphabet_triangle(rows):
    start_char = ord('A')  # Starting alphabet 'A'

    for i in range(rows, 0, -1):
        for j in range(1, i + 1):
            char = chr(start_char + j - 1)
            print(char, end=' ')

        print()

# Example usage:
num_rows = int(input("Enter the number of rows: "))
print_left_alphabet_triangle(num_rows)

Enter the number of rows: 4
A B C D
A B C
A B
A

In [ ]:
#right side triangle
n=6
for i in range(n):
    for j in range(i+1):
      print('*',end='  ')
    print()

*
*  *
*  *  *
*  *  *  *
*  *  *  *  *
*  *  *  *  *  *

In [ ]:
#right down triangle
n=6
for i in range(n):
    for j in range(n-1):
      print('',end='')
    for j in range(i,n):
      print('*',end='  ')
    print()

*  *  *  *  *  *
*  *  *  *  *
*  *  *  *
*  *  *
*  *
*

In [ ]:
rows = 4
# reverse loop
for i in range(rows, 0, -1):
    num = i
    for j in range(0, i):
        print(num, end=' ')
    print("\r")

4 4 4 4
3 3 3
2 2
1

In [ ]:
n=int(input())
# reverse loop
for i in range(n, 0, -1):
    num = i
    for j in range(0, i):
        print(num, end='')
    print("\r")

5
55555
4444
333
22
1

In [ ]:
#left side triangle
n=6
for i in range(n):
    for j in range(i,n):
      print('',end='   ')
    for j in range(i+1):
      print('*',end='  ')
    print()

                  *
               *  *
            *  *  *
         *  *  *  *
      *  *  *  *  *
   *  *  *  *  *  *

In [ ]:
#left down triangle
n=6
for i in range(n):
    for j in range(i+1):
      print('',end='   ')
    for j in range(i,n):
      print('*',end='  ')
    print()

   *  *  *  *  *  *
      *  *  *  *  *
         *  *  *  *
            *  *  *
               *  *
                  *

In [ ]:
#left down triangle
n=6
for i in range(n):
    for j in range(i+1):
      print('',end='   ')
    for j in range(i,n):
      print('*',end='  ')
    print()

In [ ]:
#right pascals triangle
n=6
for i in range(n-1):
    for j in range(i,n):
      print('',end='   ')
    for j in range(i+1):
      print('*',end='  ')
    print()
for i in range(n):
    for j in range(i+1):
      print('',end='   ')
    for j in range(i,n):
      print('*',end='  ')
    print()

                  *
               *  *
            *  *  *
         *  *  *  *
      *  *  *  *  *
   *  *  *  *  *  *
      *  *  *  *  *
         *  *  *  *
            *  *  *
               *  *
                  *

In [ ]:
#left pascals triangle
n=6
for i in range(n):
    for j in range(i+1):
      print('*',end='  ')
    print()
for i in range(n):
    for j in range(n):
      print('',end='')
    for j in range(i,n-1):
      print('*',end='  ')
    print()

*
*  *
*  *  *
*  *  *  *
*  *  *  *  *
*  *  *  *  *  *
*  *  *  *  *
*  *  *  *
*  *  *
*  *
*

In [ ]:
#butterfly

In [ ]:
#hill pattern
n=6
for i in range(n):
    for j in range(i,n):
      print('',end='   ')
    for j in range(i):
      print('*',end='  ')
    for j in range(i+1):
      print('*',end='  ')
    print()

                  *
               *  *  *
            *  *  *  *  *
         *  *  *  *  *  *  *
      *  *  *  *  *  *  *  *  *
   *  *  *  *  *  *  *  *  *  *  *

In [ ]:
#reverse hill pattern
n=6
for i in range(n):
    for j in range(i+1):
      print('',end='   ')
    for j in range(i,n-1):
      print('*',end='  ')
    for j in range(i,n):
      print('*',end='  ')
    print()

   *  *  *  *  *  *  *  *  *  *  *
      *  *  *  *  *  *  *  *  *
         *  *  *  *  *  *  *
            *  *  *  *  *
               *  *  *
                  *

In [ ]:
#diamond pattern
n=6
for i in range(n-1):
    for j in range(i,n):
      print('',end='   ')
    for j in range(i):
      print('*',end='  ')
    for j in range(i+1):
      print('*',end='  ')
    print()
for i in range(n):
    for j in range(i+1):
      print('',end='   ')
    for j in range(i,n-1):
      print('*',end='  ')
    for j in range(i,n):
      print('*',end='  ')
    print()

                  *
               *  *  *
            *  *  *  *  *
         *  *  *  *  *  *  *
      *  *  *  *  *  *  *  *  *
   *  *  *  *  *  *  *  *  *  *  *
      *  *  *  *  *  *  *  *  *
         *  *  *  *  *  *  *
            *  *  *  *  *
               *  *  *
                  *

In [ ]:
row =5
for i in range(row):
    for j in range(row-i):
        print('', end=' ')

    for j in range(2*i+1):
        if j==0 or j==2*i or i==row-1:
            print('*',end='')
        else:
            print('', end=' ')
    print()

     *
    * *
   *   *
  *     *
 *********

# Number Pattern

In [ ]:
n=6
p=1
for i in range(n):
    for j in range(i+1):
      print(p,end='  ')
    p+=1
    print()

1
2  2
3  3  3
4  4  4  4
5  5  5  5  5
6  6  6  6  6  6

In [ ]:
n=4
# reverse loop
for i in range(n, 0, -1):
    num = i
    for j in range(0, i):
        print(num, end='')
    print()

4444
333
22
1

In [ ]:
# Python3 code for triangular
# patterns of alphabets
if __name__ == '__main__':
	i, j, n = 0, 0, 5;
	for i in range(1, n + 1):
		for j in range(n, i - 1, -1):
			print(chr(ord('A') - 1 + i), end = " ");
		print("");

# This code is contributed by Princi Singh

A A A A A
B B B B
C C C
D D
E

In [ ]:
N=4
for i in range(1, N + 1):
  for j in range(1, i + 1):
    print(j, end="")
  print()

1
12
123
1234

In [ ]:
for i in range (65,68):
    # inner loop for jth columns
    for j in range(65,i+1):
        print(chr(i),end="")
    print()

A
BB
CCC

In [ ]:
initialValue = 65
for i in range(0, 7):
    for j in range(0, i):
     # It will convert the ASCII value to the character
         alphabate = chr(initialValue)
         # print(alphabate, end=' ')
         print(f"{alphabate}", end="")
         initialValue += 1
    print("")

A
BC
DEF
GHIJ
KLMNO
PQRSTU

In [ ]:
n=6
p=1
for i in range(n-1):
    for j in range(i,n):
      print('',end='   ')
    for j in range(i):
      print(p,end='  ')
    for j in range(i+1):
      print(p,end='  ')
    p+=1
    print()

for i in range(n):
    for j in range(i+1):
      print('',end='   ')
    for j in range(i,n-1):
      print(p,end='  ')
    for j in range(i,n):
      print(p,end='  ')
    p-=1
    print()

                  1
               2  2  2
            3  3  3  3  3
         4  4  4  4  4  4  4
      5  5  5  5  5  5  5  5  5
   6  6  6  6  6  6  6  6  6  6  6
      5  5  5  5  5  5  5  5  5
         4  4  4  4  4  4  4
            3  3  3  3  3
               2  2  2
                  1

In [ ]:
n = 4
for i in range(1, n + 1):
    for j in range(n, 0, -1):
        if j > i:
            print(" ", end="")
        else:
          print(j, end="")
    print()

   1
  21
 321
4321

In [ ]:
N=4
for i in range(N):
  for j in range(i, i + N):
    print(chr(65 + j), end='')
  print()

ABCD
BCDE
CDEF
DEFG

In [ ]:
def print_pattern(N):
    for i in range(N):
        row = ""
        for j in range(i+1):
            row += str(i+j)
        print(row)

# Test the program
rows = int(input("Enter the number of rows: "))
print_pattern(rows)

Enter the number of rows: 4
0
12
234
3456

In [ ]:
n=4
for i in range(n):
  if i == 0:
    print(1)
  else:
    for j in range(i+1):
      if j == 0:
        print(i,end='')
      elif j == i:
        print(i,end='')
      else:
        print(0,end='')
    print('')

1
11
202
3003

In [1]:
rows = 6

for row in range(1, rows):

    num = 1

    for j in range(rows, 0, -1):

        if j > row:

            print(" ", end="")

        else:

            print(num, end="")

            num += 1

    print()

     1
    12
   123
  1234
 12345

In [ ]:
N=5
for i in range(-N + 1, N):
  line = ""
  for j in range(1, N + 1):
    if abs(j) <= abs(i) + 1:
      line += str(j)
    else:
      line += " "
  print(line)

12345
1234
123
12
1
12
123
1234
12345

In [ ]:
row = 5

for i in range(row):
    for j in range(row - i):
        print(' ', end=' ')

    for j in range(2 * i + 1):
      if j == 0 or j == 2 * i or i == row - 1:
        print('*', end=' ')
      else:
        print(' ', end=' ')
    print()

          *
        *   *
      *       *
    *           *
  * * * * * * * * *

In [ ]:
n=5
for i in range(n):
  line = ""
  for j in range(i):
    line += " "
  for k in range(i + 1, n + 1):
      line += str(k)
  print(line)

for i in range(n - 2, -1, -1):
  line = ""
  for j in range(i):
    line += " "
  for k in range(i + 1, n + 1):
      line += str(k)
  print(line)

12345
 2345
  345
   45
    5
   45
  345
 2345
12345

In [ ]:
def generate_pattern(N):
    for i in range(N):
        # Determine the value to be printed in each row
        value = '1' if i % 2 == 0 else '0'

        # Determine the number of repetitions in each row
        repetitions = N - i if i % 2 == 0 else N - i - 1
        print(value * repetitions)

# Get the input for the number of rows from the user
N = int(input("Enter the number of rows: "))

# Call the function to generate the pattern
generate_pattern(N)

Enter the number of rows: 5
11111
000
111
0
1

In [2]:
n = int(input())
upper = int(n/2)+1
lower = n - upper
start_i_lower = 0

for i in range(0, upper):
  if i != 0:
    i = i + i
  start = n*i + 1
  end = start + n

  for j in range(start, end):
    print(j, end =" ")
  start_i_lower = i
  print()

start_i_lower -= 1

for i in range(0, lower):
  if(n%2 == 0):
    start_i_lower -= 1

  start = n*(start_i_lower-1) + 1
  end = start + n

  for j in range(1, n+1):
        print(j+n, end =" ")
  print()

5
1 2 3 4 5
11 12 13 14 15
21 22 23 24 25
6 7 8 9 10
6 7 8 9 10